<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssm.dao.FocusMapper">
  <resultMap id="BaseResultMap" type="com.ssm.pojo.Focus">
    <id column="FocId" jdbcType="CHAR" property="focid" />
    <result column="focFollow" jdbcType="CHAR" property="focfollow" />
    <result column="beFollow" jdbcType="CHAR" property="befollow" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    FocId, focFollow, beFollow
  </sql>
  <select id="selectByExample" parameterType="com.ssm.pojo.FocusExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from focus
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from focus
    where FocId = #{focid,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from focus
    where FocId = #{focid,jdbcType=CHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.ssm.pojo.FocusExample">
    delete from focus
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ssm.pojo.Focus">
    insert into focus (FocId, focFollow, beFollow
      )
    values (#{focid,jdbcType=CHAR}, #{focfollow,jdbcType=CHAR}, #{befollow,jdbcType=CHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ssm.pojo.Focus">
    insert into focus
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="focid != null">
        FocId,
      </if>
      <if test="focfollow != null">
        focFollow,
      </if>
      <if test="befollow != null">
        beFollow,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="focid != null">
        #{focid,jdbcType=CHAR},
      </if>
      <if test="focfollow != null">
        #{focfollow,jdbcType=CHAR},
      </if>
      <if test="befollow != null">
        #{befollow,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ssm.pojo.FocusExample" resultType="java.lang.Long">
    select count(*) from focus
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update focus
    <set>
      <if test="record.focid != null">
        FocId = #{record.focid,jdbcType=CHAR},
      </if>
      <if test="record.focfollow != null">
        focFollow = #{record.focfollow,jdbcType=CHAR},
      </if>
      <if test="record.befollow != null">
        beFollow = #{record.befollow,jdbcType=CHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update focus
    set FocId = #{record.focid,jdbcType=CHAR},
      focFollow = #{record.focfollow,jdbcType=CHAR},
      beFollow = #{record.befollow,jdbcType=CHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ssm.pojo.Focus">
    update focus
    <set>
      <if test="focfollow != null">
        focFollow = #{focfollow,jdbcType=CHAR},
      </if>
      <if test="befollow != null">
        beFollow = #{befollow,jdbcType=CHAR},
      </if>
    </set>
    where FocId = #{focid,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ssm.pojo.Focus">
    update focus
    set focFollow = #{focfollow,jdbcType=CHAR},
      beFollow = #{befollow,jdbcType=CHAR}
    where FocId = #{focid,jdbcType=CHAR}
  </update>
</mapper>